@import "styles/mixins.scss";
@import "styles/variables.scss";

.tofu {
    font-size: 100px;
  vertical-align: middle;
}
.AppList {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
    color: white;
    font: bold;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 1.5em;
}

.delete_button {
    display: flex;
    flex-direction: column;
}

.delete_button:hover {
    transform: scale(1.5);
    }

.app_name {
    display: flex;
    color: white;
    padding-bottom: 1em;
    padding-top: 1em;
    justify-content: left;
    font-size: large;
    
    &--selected {
        color: $dark-background;
        background-color: $white;
        border-radius: 16px;
        height: 65px;
        display: flex;
        align-items: center;
        padding-left: 2px;
        padding-right: 1rem;
        user-select: none;
      }
}

.app_name:hover {
    color: coral;
}

.create {
    color: white;
    margin-top: 3em;
    font-size: x-large;
    float: left;
}

.create-font {
    color: black
}

.create:hover {
    background-color: coral;    
    color: white;
}

.sidebar__logo {
    display: flex;
    color: white;
    flex-direction: column;
    }

.sidebar__logo:hover {
    color: coral
}

.createcancel {
    display: flex;
    flex-direction: row;
}

.cancelbutton {
    color:white;
}

.cancelbutton:hover {
    color: white;
}
