@import "styles/mixins.scss";
@import "styles/variables.scss";

.tofu {
    font-size: 100px;
  vertical-align: middle;
}
.myAppsTitleContainer{
    padding: auto;
    margin-left:20px;
    margin-right: 20px;
}

.myAppsTitle{
    font-size: 32px;
}
.AppList {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
    color: white;
    font: bold;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.delete_button {
    display: flex;
    flex-direction: column;
}

.delete_button:hover {
    transform: scale(1.5);
    }

.sidebar__logo {
    display: flex;
    color: white;
    flex-direction: column;
    }

.sidebar__logo:hover {
    color: coral
}