.create {
  color: white;
  font-size: 2em !important;
  margin: 1em 1em 1em 1em;
  padding: 1em 0em 1em 0em !important;
  background-color: coral !important;
  border-color: coral !important;

}

.create-font {
  color: white
}

.create:hover {
  background-color: coral;
  color: white;
}

.create_a:hover{
  background-color: coral;
  color: white !important;
}