@import "styles/variables.scss";

.sidebar {
  background-color: $dark-background;
  box-shadow: 0px 4px 8px rgba($dark-background, 0.5);
  display: flex;
  flex-direction: column;
  max-width: 16rem;
  padding: $spacing 0;

  &--centered {
    align-self: center;
  }

  &__separator {
    width: 90%;
    margin: $spacing 0;
    border: solid 1px;
    color: darken($white, 5%);
  }

  &__menu {
    flex: 1;
  }

  &__lhl {
    margin-top: 2rem;
  }
  &__logo {
    color: white;
    font-size: xx-large;
  }
  &__tofu {
   margin: auto;
    font-size: 100px;
  }

}

.config {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 2em 3em 3em 3em;
  width: 100%;
  overflow-x: scroll;
  &--button{
    align-self: center
  }
}

.searchSortContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

.displayStyleContainer{
  margin: 20px 2% 20px 2%;
}

.top-buttons {
  margin-bottom: 1em;
}


.tofu-pic {
  height: 320px;
  width:320px;
}

.settingsPreview{
  margin: 0px 5% 0px 5%;
  min-width: 500px;
  max-width: 1000px;
}

.details{
  border-color: black;
  border-style: solid;
}

.liveSite{
  margin: 0px 0px 0px 0px;
  min-width: 500px;
  max-width: 1000px;
  width: 100%;
}

.liveSiteContainer{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}