@import "styles/mixins.scss";
@import "styles/variables.scss";
.wrapper {
  border: 2px solid #f5f3f0;
  // border-radius: 5px;
  // padding: 1em;
  // margin-top:1em;
  // margin-left: 3em;
  color: #d45e28;
  background: rgb(241, 237, 237);
  max-width: 87%;
  height: 100px;
  position: relative;
  margin:50px;
  padding: 20px;
  margin-left:2.5em;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.field {
display:flex;
flex-direction: column;
}
.wrapper::before {
  content: '';
  display: inline-block;
  background: rgb(219, 219, 219);
  width: 100%;
  height: 20px;
  transform: skewX(-40deg);
  position: absolute;
  top: -20px;
  left: 8px;
}

.wrapper::after {
  content: '';
  display: inline-block;
  background:#c7c6c6;
  width: 16px;
  height: 100px;
  transform: skewY(-50deg);
  position: absolute;
  top: -10px;
  left: 100%;
}

.listUL{
  padding-left: 0px;
  margin-bottom: 0px;
}

.primary{
  font-weight: 700px;
  font-size: 1.5em
}